<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ordres Achat{% endblock %}</title>

    <!-- Include your CSS files here -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Include Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Include Bootstrap 5 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

    <!-- Include Bootstrap 5 JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include JavaScript file -->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Include jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


    <!-- Include datepicker CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- Include datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              {% if request.resolver_match.url_name != 'login' %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'order_form' %}">Commande</a>
              </li>
              {% if user.is_not_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Connexion</a>
              </li>
              {% endif %}
              {% endif %}
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link btn btn-danger" href="{% url 'logout' %}?next=/">Déconnexion</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
    </header>      
    <main>
        {% block content %}
        <!-- The content of other pages will be inserted here -->
        {% endblock %}
    </main>
    <footer>
        <!-- Footer here -->
    </footer>
</body>
</html>
