{% extends 'achat/base.html' %} {% block content %}

<div class="login-container">
  <h2>Connexion</h2>
  {% if error_message %}
  <p class="error-message">{{ error_message }}</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="input-container">
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" name="username" id="username" />
    </div>
    <div class="input-container">
      <label for="password">Mot de passe:</label>
      <input type="password" name="password" id="password" />
    </div>
    <div class="button-container">
      <input type="submit" value="Connexion" />
    </div>
  </form>
  <br>
  <hr>
  <div class="admin-link-container">
    <p> <a href="{% url 'admin:index' %}">Accès admin</a></p>
  </div>
</div>
{% endblock %}