{% extends 'achat/base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="form-container">
  
  <form method="post" id="order-form">
    <div class="forms-container">
      <div id="form-fields-container">
        <div class="form-card">
          <fieldset class="input-group">
            {% csrf_token %}
            <legend>Formulaire commande</legend>
            <hr>

            <div class="form-group">
              <label for="nom_fournisseur">{{ form.nom_fournisseur.label }}</label>
              {{ form.nom_fournisseur|add_class:'form-control form-select'|attr:"id:nom_fournisseur" }}
            </div>

            <div class="form-group">
              <label for="format">{{ form.format.label }}</label>
              {{ form.format|add_class:'form-control form-select'|attr:"id:format" }}
            </div>

            <div class="form-group">
              <label for="id_article">{{ form.article.label }}</label>
              {{ form.article|add_class:'form-control form-select'|attr:"id:id_article" }}
            </div>

            <div class="form-group">
              <label for="code_article">{{ form.code_article.label }}</label>
              {{ form.colisage_achat|add_class:'form-control'|attr:"id:code_article" }}
            </div>
            
            <div class="form-group">
                <label for="quantite">{{ form.quantite.label }}</label>
                {{ form.quantite|add_class:'form-control'|attr:"id:quantite" }}
            </div>
            
            <div class="form-group">
                <label for="prix_achat_net">{{ form.prix_achat_net.label }}</label>
                {{ form.prix_achat_net|add_class:'form-control'|attr:"id:prix_achat_net" }}
            </div>
            
            <div class="form-group">
                <label for="colisage_achat">{{ form.colisage_achat.label }}</label>
                {{ form.colisage_achat|add_class:'form-control'|attr:"id:colisage_achat" }}
            </div>
              
            <div class="form-group">
                <label for="{{ form.date_commande_origine.id_for_label }}">{{ form.date_commande_origine.label }}</label>
                {{ form.date_commande_origine|add_class:'form-control'|attr:"id:id_date_commande_origine" }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.incoterm.id_for_label }}">{{ form.incoterm.label }}</label>
                {{ form.incoterm|add_class:'form-control'|attr:"id:id_incoterm" }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.taux_devise.id_for_label }}">{{ form.taux_devise.label }}</label>
                {{ form.taux_devise|add_class:'form-control'|attr:"id:id_taux_devise" }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.prix_devise.id_for_label }}">{{ form.prix_devise.label }}</label>
                {{ form.prix_devise|add_class:'form-control'|attr:"id:id_prix_devise" }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.port_embarquement.id_for_label }}">{{ form.port_embarquement.label }}</label>
                {{ form.port_embarquement|add_class:'form-control'|attr:"id:port_embarquement" }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.ean_carton.id_for_label }}">{{ form.ean_carton.label }}</label>
                {{ form.ean_carton|add_class:'form-control'|attr:"id:ean_carton" }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.nomenclature.id_for_label }}">{{ form.nomenclature.label }}</label>
                {{ form.nomenclature|add_class:'form-control'|attr:"id:nomenclature" }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.ean13.id_for_label }}">{{ form.ean13.label }}</label>
                {{ form.ean13|add_class:'form-control'|attr:"id:ean13" }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.etat_ordre.id_for_label }}">{{ form.etat_ordre.label }}</label>
                {{ form.etat_ordre|add_class:'form-control'|attr:"id:id_etat_ordre" }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.origine_fournisseur.id_for_label }}">{{ form.origine_fournisseur.label }}</label>
                {{ form.origine_fournisseur|add_class:'form-control'|attr:"id:origine_fournisseur" }}
            </div>

          </fieldset>
        </div>
      </div>
    </div>
    <div class="form-card card-footer">
        <button type="button" id="add-form"><a><i class="fas fa-plus"></i></a></button>
    </div>
    <div class="button-container">
        <input type="submit" value="Enregistrer en base">
    </div>
    <div id="flash-message-container" class="d-none">
      <div class="flash-message-backdrop"></div>
      <div class="alert alert-success flash-message" role="alert">
        <span id="flash-message"></span>
      </div>
    </div>
    <br>
  </form>
</div>
{% endblock %}
