.login-container {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 500px;
  padding: 50px;
  text-align: center;
}

.login-container h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
  text-align: left;
}

.input-container label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.input-container input[type="text"],
.input-container input[type="password"] {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.button-container {
  text-align: center;
}

.button-container input[type="submit"] {
  background-color: #3f51b5;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 30px;
  transition: background-color 0.2s ease;
}

.button-container input[type="submit"]:hover {
  background-color: #2c3e50;
}

.form-container {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 700px;
  text-align: center;
}

.form-container h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.button-container {
  text-align: center;
}

.button-container input[type="submit"] {
  background-color: #3f51b5;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 30px;
  transition: background-color 0.2s ease;
}

.button-container input[type="submit"]:hover {
  background-color: #2c3e50;
}

.disconnect-button {
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.2s ease;
  position: absolute;
  top: 20px;
  right: 20px;
}

.disconnect-button:hover {
  background-color: #c0392b;
}

/* menu */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #3f51b5;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

nav a:hover {
  background-color: #2c3e50;
}

.form-card {
  margin-bottom: 20px;
  padding: 30px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

fieldset {
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 20px;
}

legend {
  width: auto;
  font-weight: bold;
  color: #007bff;
  padding: 0 5px;
}

.form-container .form-card fieldset:first-child {
  border: none;
}

.form-control.is-invalid {
  border: 1px solid #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"%3e%3cpath fill="%23dc3545" d="M8 1L7 0 4 3 1 0 0 1l3 3L0 7l1 1 3-3 3 3 1-1-3-3z"/%3e%3c/svg%3e');
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control.is-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.invalid-feedback {
  display: block;
  font-size: 0.875rem;
  color: #dc3545;
}

.input-group {
  display: inline !important;
}

.form-card #add-form {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
}

.flash-message-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 45%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1049;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flash-message {
  min-width: 300px;
  text-align: center;
  z-index: 1050;/* To position it above the other elements on the page */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}